[submodule "jni/zlib"]
	path = jni/zlib
	url = https://github.com/madler/zlib.git
[submodule "jni/gmssl"]
	path = jni/gmssl
	url = https://github.com/liyuzhao/GmSSL.git
[submodule "jni/curl"]
	path = jni/curl
	url = https://github.com/liyuzhao/curl-gm.git
